*.xlsx
assets/*.xlsx
*.xls
assets/*.xls
*.rkz
assets/*.rkz
\.logs
\.log
*.log
.idea/
.idea/*

lib/
lib/*

bin/
bin/*

share/
share/*

local/
local/*

include/
include/*

venv/
env/

.bash_history/
.bash_history
.cache/
.gitconfig/
.gitconfig
.ssh/
__pycache__/
*.ini
*.sock